@import "../../styles/variables";
@import "../../styles/mixins";

.PanelSection {
  border: 1px solid $main;
  border-radius: 10px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  
  .list_wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-inline-end: 15px;
    padding-block-end: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: $main none;
  
    &::-webkit-scrollbar { /* Safari and Chrome */
      width: 3px;
      height: 3px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb { /* Safari and Chrome */
      background: $main;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-gutter { /* Safari and Chrome */
      width: 10px;
    }

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
    }

    @include breakpoint(mobile) {
      height: 30vh;
    }
  }
}