@import "../../styles/variables";
@import "../../styles/mixins";

.CharacterCard {
  scroll-snap-align: start;
  max-width: 300px;
  display: grid;
  grid-template-areas: 'main';
  cursor: pointer;
  gap: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px #02accb;
  transition: .3s ease-out;
  overflow: hidden;
  min-height: 100px;
  
  &.selected {
    min-height: 200px;
    
    .info {
      opacity: 0;
    }
  }

  &.notSelected {
    filter: grayscale(1);
  }

  &:hover {
    img {
      // rotate: z -6deg;
      scale: 1.1;
    }
  }

  .picture {
    grid-area: main;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    // border-radius: 20px;
    // border-bottom-right-radius: 0;
    // border-top-right-radius: 0;
    
    .img_wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      // max-width: 200px;
      
      
      img {
        object-fit: cover;
        transition: .3s ease-out;
        // width: 100%;
        // height: 100%;
      }
    }
    
  }

  .info {
    grid-area: main;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-block-end: 1rem;
    padding-inline: 1rem;
    background-image: linear-gradient(to top, #02accbcc 0% 30%, #ffffff00);
    transition: .3s ease-out;

    .cardInfo_top {
      display: flex;
      font-weight: 600;
      font-size: 1rem;
    }

    .cardInfo_bottom {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      font-size: .8rem;

      .statusIcon {
        position: static;
      }
    }
  }
}