@import '../styles/variables';
@import '../styles/mixins';

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  header {
    text-align: center;
    margin-block: 2em;
    margin-inline: 2em;
    display: flex;
    flex-direction: column;
    
    @include breakpoint(mobile) {
      margin-block: 1em;
    }

    h2 {
      font-size: clamp(.8rem, 6vmin, 1.5rem);
      font-family: 'Alkalami', sans-serif;
      line-height: 1em;

      strong {
        color: $main;
        filter: drop-shadow(0 0 5px rgba(122, 195, 255, 0.9));
      }
    }

    p {
      font-size: clamp(.5rem, 4vmin, .75rem);
    }
  }
}